@import "tailwindcss";

body{
  background-color: #00303F;
}
/* #1B2021 */

/* @theme {
  --color-mint-500: #008170;
  --color-green-700: #005B41;
  --color-gray-700: #232D3F;
  --color-gray-900: #0F0F0F;
} */